body {
	background: black;
}

h1 {
	color: white;
}

.button {  
	width: 400px;  
	height: 100px;  
	line-height: 100px;  
	color: white;
	text-decoration: none;  
	font-size: 50px;  
	font-family: helvetica, arial;  
	font-weight: bold;  
 	display: block;  
	text-align: center;  
	position: relative;  
	

	/* BACKGROUND GRADIENTs */
	background: #014464;
	background: -moz-linear-gradient(top, #0D658E, #0C577A 50%, #014D71 51%, #003E5C);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0E658E), color-stop(.5, #0C577A), color-stop(.5, #014D71), to(#003E5C));

	/* BORDER RADIUS */
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	border: 1px solid #368DBE;
	border-top: 1px solid #c3d6df;
	
	/* TEXT SHADOW */
	text-shadow: 1px 1px 1px black;

}