body {
	background: white;
}

h1 {
	color: black;
}

.button {  
	width: 400px;  
	height: 100px;  
	line-height: 100px;  
	color: white;
	text-decoration: none;  
	font-size: 50px;  
	font-family: helvetica, arial;  
	font-weight: bold;  
 	display: block;  
	text-align: center;  
	position: relative;  
	

	/* BACKGROUND GRADIENTs */
	background: #014464;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0E658E), color-stop(.5, #0C577A), color-stop(.5, #014D71), to(#003E5C));

	/* BORDER RADIUS */
	-webkit-border-radius: 10px;

	border: 1px solid #368DBE;
	border-top: 1px solid #c3d6df;
	
	/* TEXT SHADOW */
	text-shadow: 1px 1px 1px black;
	
	/* BOX SHADOW */
	-webkit-box-shadow: 0 1px 3px black;

}

.button:active{
	/*2d Transform */
	-webkit-transform:translate(0px,40px);
}