.button {  
	width: 200px;  
	height: 100px;  
	line-height: 100px;  
	color: white;
	text-decoration: none;  
	font-size: 30px;  
	font-family: helvetica, arial;  
	font-weight: bold;  
 	display: block;  
	text-align: center;  
	position: relative;
	
	/* BACKGROUND GRADIENTs */
	background: #014464;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0E658E), color-stop(.5, #0C577A), color-stop(.5, #014D71), to(#003E5C));
	
	
	/* BORDER RADIUS */
	-webkit-border-radius: 10px;

	border: 1px solid #368DBE;
	border-top: 1px solid #c3d6df;
	
	/* TEXT SHADOW */
	text-shadow: 1px 1px 1px black;
	
	/* BOX SHADOW */
	-webkit-box-shadow: 0 1px 3px black;

}

.tfbttn {
	/* 3D Transform */
	-webkit-transform:translate3d(10px,40px,10px);
	
	/* Transition */
	-webkit-transition-property: color;  
	-webkit-transition-duration: 5s;
	color:black;
}

  
 h1 {  
	-webkit-animation-duration: 2s;  
   	-webkit-animation-name: slidein; 
	-webkit-animation-iteration-count: infinite; 
 }  

 @-webkit-keyframes slidein {  
   	0% {  
    	-webkit-transform:translate3d(0px,0px,0px);  
		width : 100%;
   	}  

	50% {  
		-webkit-transform:translate3d(200px,0px,0px);
		/*margin-left: 80%;*/
		width : 100%;   
   	} 
 
	100%{
		-webkit-transform:translate3d(0px,0px,0px);   
		width : 100%;	
	}
} 

@font-face {
    font-family: 'KomikaTitleRegular';
    src: url('font/KomikaTitle-webfont.eot');
    src: url('font/KomikaTitle-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/KomikaTitle-webfont.woff') format('woff'),
         url('font/KomikaTitle-webfont.ttf') format('truetype'),
         url('font/KomikaTitle-webfont.svg#KomikaTitleRegular') format('svg');
    font-weight: normal;
    font-style: normal;
	

}

p {
	font-family: KomikaTitleRegular;
	font-size: 25px;
} 
