body {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
    margin-left: -20px;
}

.checkin img {
	width: 24px;
	height: 24px;
    margin-right: 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.checkin-details img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.checkin-details {
    padding: 5px;
}

.header {
    position:fixed;
    z-index:2;
    background-color:orange;
    width:100%;
    padding:10px;
}

.content {
    postion:absolute;
    -webkit-overflow-scrolling:touch;
    overflow:auto;
    padding-top:50px;
}